// COLORS
$bg: #ffffff;
$heading-text: #386071;
$list-title: #0b749b;
$list-divider: #0b749b;
$list-text: #536b7a;
$list-divider: #9aaebb;
$header: #012433;
$button-border: #78849e66;
$button-text: #78849e;
$button-text-focused: #012433;
$button-bg: #ffffff;
$button-bg-focused: #00baff;
$modal-text: #78849e;
$modal-title: #164e78;
$modal-labels: #78849eb9;
$modal-names: #00baff;
$modal-close-button: #718fa2;
$dropdown-title: #78849eb9;
$dropdown-items: #536b7a;
